<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />

    <title>Home</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="assets/img/citruMilk-logo.jpg">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="assets/css2/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css2/style.css" />
    <!-- Responsive-->
    <link rel="stylesheet" href="assets/css2/responsive.css" />
    <!-- fevicon -->
    <link rel="icon" href="assets/images/fevicon.png" type="image/gif" />
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="assets/css2/owl.carousel.min.css" />
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
    <link rel="stylesheet" href="assets/css2/bootstrap-datepicker.min.css" />

    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/style2.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top" style="background-color: black">
      <div
        class="container d-flex align-items-center justify-content-lg-between"
      >
        <!-- <h1 class="logo me-auto me-lg-0">
          <a href="/">Citru<span>.</span></a>
        </h1> -->

        <h1 class="logo me-auto me-lg-0"><a href="/">CitruMilk<span>.</span></a></h1>
        <!-- <a href="/" class="logo me-auto me-lg-0"
          ><img src="/assets/img/citruMilk-logo.jpg" alt="" class="img-fluid"  style="width: 2.2em; height: 2.7em; border-radius: 50%;"
        /></a> -->

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto" href="/">Home</a></li>
            <li>
              <a class="nav-link scrollto" href="/farm">About Us</a>
            </li>

            <li class="dropdown">
              <a href="#"
                ><span>Nduoma Farms</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="/farm">About Nduoma Farms</a></li>
                <li><a href="/fish-farm">Fish</a></li>
                <!-- <li><a href="/rabbit">Rabbit -> Processed Meat</a></li> -->
                <!-- <li><a href="/snail">Snail -> Process</a></li> -->
                <li><a href="/mushroom-farm">Mushroom</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"
                ><span>Shop Now</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="/mushroom">Mushroom </a></li>
                <li class="dropdown">
                  <a href="/products"
                    ><span>Citrumilk Products</span>
                    <i class="bi bi-chevron-right"></i
                  ></a>
                  <ul>
                    <li><a href="/products">Soya Milk</a></li>
                    <li><a href="/products">Yoghurt</a></li>
                    <li>
                      <a href="/products">Mushroom Tea</a>
                    </li>
                    <li>
                      <a href="/products"
                        >Oyster Fresh Mushroom Fresh & doyal</a
                      >
                    </li>
                    <li><a href="/sugar">Sugar</a></li>
                  </ul>
                </li>
                <li><a href="/fish">Dry Fish</a></li>
                <li><a href="/fish">Fingerlings</a></li>
                <!-- <li><a href="/spices">Spices</a></li> -->
                <!-- <li><a href="/soyabean">Soyabean Powder</a></li> -->
                <!-- <li><a href="/mushroom-sub">Mushroom Substrate</a></li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="/contact-us"
                ><span>Contact Us</span> </a>
              <ul>
                <!-- <li><a href="/contact-us">Inquiry</a></li><i class="bi bi-chevron-down"></i> -->
                <!-- <li><a href="/contact-us">Become a distributor</a></li> -->
              </ul>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        <a
          href="/checkout"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
          class="get-started-btn scrollto"
          ><i class="bi bi-cart3"></i> </a
        >

        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasRight"
          aria-labelledby="offcanvasRightLabel"
        >
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Your cart</h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <p>Please go to Shop Now Page to view your orders</p>
          </div>
        </div>
      </div>
    </header>
    <!-- End Header -->
