<%- include('partials/header') %>

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Cart</h2>
        <ol>
          <li><a href="/">Shop Now</a></li>
          <li>Cart</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <div class="container" style="padding-top: 20px; padding-bottom: 20px">
    <div class="row">
      <div class="col col-center"></div>
      <div class="col col-center">PRODUCT</div>
      <div class="col col-center">PRICE</div>
      <div class="col col-center">QUALITY</div>
      <div class="col col-center">SUBTOTAL</div>
      <hr style="margin-top: 20px" />
    </div>

    <div class="row" id="product-cart-row">
      <div class="col col-center">
        <img
          class="cart-img"
          src="assets/img/mae-mu-ru4jyDiLHsI-unsplash.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="col col-center">product name</div>
      <div class="col col-center">₦5000</div>
      <div class="col col-center">add or subtr</div>
      <div class="col col-center">₦5000</div>
    </div>

    <div class="row" id="product-cart-row">
      <div class="col col-center">
        <img
          class="cart-img"
          src="assets/img/mae-mu-ru4jyDiLHsI-unsplash.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="col col-center">product name</div>
      <div class="col col-center">₦5000</div>
      <div class="col col-center">add or subtr</div>
      <div class="col col-center">₦5000</div>
    </div>

    <div class="row" id="product-cart-row">
      <div class="col col-center">
        <img
          class="cart-img"
          src="assets/img/mae-mu-ru4jyDiLHsI-unsplash.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="col col-center">product name</div>
      <div class="col col-center">₦5000</div>
      <div class="col col-center">add or subtr</div>
      <div class="col col-center">₦5000</div>
    </div>
  </div>

  <section class="container" style="padding-top: 20px; padding-bottom: 20px">
    <div style="padding-top: 20px; padding-bottom: 20px">
      <h2>CART TOTALS</h2>
      <div class="row">
        <div class="col-lg-4">Subtotal</div>
        <div class="col-lg-6">₦5000</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-4">Shipping</div>
        <div class="col-lg-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              location one: 3000NGN
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              location two: 3500NGN
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              location three: 4000NGN
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              location four: 4500NGN
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              location five: 5000NGN
            </label>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-4">Total</div>
        <div class="col-lg-6">₦8000</div>
      </div>
      <hr />

      <div class="col-3">
        <button type="submit" class="btn btn-primary">
          PROCEED TO CHECKOUT
        </button>
      </div>
    </div>
  </section>
</main>

<%- include('partials/footer') %>
