<%- include('partials/header') %>

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Check-out</h2>
        <ol>
          <li><a href="index.html">Shop-now</a></li>
          <li>Check-out</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <section class="container" style="padding-top: 20px; padding-bottom: 20px">
    <h2>Billing & Shipping</h2>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first-name" />
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last-name" />
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" />
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress"
          placeholder="1234 Main St"
        />
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Town/City</label>
        <input type="text" class="form-control" id="town" />
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Enugu</option>
          <option>Abia</option>
          <option>Adamawa</option>
          <option>Akwa Ibom</option>
          <option>Anambra</option>
          <option>Bauchi</option>
          <option>Bayelsa</option>
          <option>Benue</option>
          <option>Borno</option>
          <option>Cross River</option>
          <option>Delta</option>
          <option>Ebonyi</option>
          <option>Edo</option>
          <option>Ekiti</option>
          <option>Enugu</option>
          <option>Gombe</option>
          <option>Imo</option>
          <option>Jigawa</option>
          <option>Kaduna</option>
          <option>kano</option>
          <option>Katsina</option>
          <option>Kogi</option>
          <option>Kwara</option>
          <option>Lagos</option>
          <option>Nasarawa</option>
          <option>Niger</option>
          <option>Ogun</option>
          <option>Ondo</option>
          <option>Osun</option>
          <option>Oyo</option>
          <option>Plateau</option>
          <option>Rivers</option>
          <option>Sokoto</option>
          <option>Taraba</option>
          <option>Yobe</option>
          <option>Zamfara</option>
        </select>
      </div>
      
      <hr />
      <div class="row">
        <div class="col-lg-6">Shipping</div>
        <div class="col-lg-4 shipping-option">          
          <div class="form-check">
            <input class="form-check-input" type="radio" value="1000" name="flexRadioDefault" date-address="address-one" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Address one - N1,000
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="2000" name="flexRadioDefault" date-address="address-two" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Address two - N2,000
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="3000" name="flexRadioDefault" date-address="address-three" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
              Address three - N3,000
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="4000" name="flexRadioDefault" date-address="address-four" id="flexRadioDefault4" checked>
            <label class="form-check-label" for="flexRadioDefault4">
              Address four - N4,000
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="5000" name="flexRadioDefault" date-address="address-five" id="flexRadioDefault5">
            <label class="form-check-label" for="flexRadioDefault5">
              Address five - N5,000
            </label>
          </div>
        </div>
      </div>
      <hr />

      <div style="padding-top: 20px; padding-bottom: 20px">
        <h2>Your Order</h2>
        <div class="roww">
          <div class="order-product">Product</div>
          <div class="order-subtotal" >Subtotal</div>
        </div>
        <hr />
        <div id="cart-table"></div>

        <hr />       
            

        <div>
          <h2>Direct bank transfer</h2>
          <p>
            Make your payment directly into our bank account. Please use your
            Order ID as the payment reference. Your order will not be shipped
            until the funds have cleared in our accounts.
          </p>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary" id="place-order">Place Order</button>
        </div>
      </div>
    </form>
  </section>
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>CitruMilk<span>.</span></h3>
            <p>
              A108 Adam Street <br />
              NY 535022, USA<br /><br />
              <strong>Phone:</strong> +1 5589 55488 55<br />
              <strong>Email:</strong> info@example.com<br />
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"
                ><i class="bx bxl-facebook"></i
              ></a>
              <a href="#" class="instagram"
                ><i class="bx bxl-instagram"></i
              ></a>
              <a href="#" class="google-plus"
                ><i class="bx bxl-skype"></i
              ></a>
              <a href="#" class="linkedin"
                ><i class="bx bxl-linkedin"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Terms of service</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Privacy policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>CitruMilk</span></strong
      >. All Rights Reserved
    </div>
  </div>
</footer>
<!-- End Footer -->

<div id="preloader"></div>
<a
  href="#"
  class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="assets/js/cart.js"></script>
<script src="assets/js/cart-view.js"></script>
<script src="assets/js/checkout.js"></script>
<script src="assets/js/orders.js"></script>
</body>
</html>
