<%- include('partials/header') %>

<main id="main">
    <section class="container">
        <h1>
          WE ARE A FAMILY-RUN MILK FARM & SEED COMPANY, SPECIALIZING IN UNIQUE,
          UNCOMMON & HEIRLOOM MILK
        </h1>
        <P
          >OUR THRIVING RESEARCH & EDUCATION FARM IS DEDICATED TO GIVING FLOWER LOVERS
          THE TOOLS & INFORMATION THEY NEED TO GROW THE GARDENS OF THEIR DREAMS</P
        >
        <hr />
      
        <p>
          Set in Washington’s beautiful Skagit Valley, our fields are bursting with
          flowers that reflect the season, from fragrant sweet peas in the spring to
          magnificent dinner plate dahlias in the fall and countless varieties in
          between. Research is at the heart of our operation, and we conduct extensive
          trials to find the very best cut flower varieties, coveted for their scent,
          stem length, and ethereal qualities.
        </p>
        <p>
          We source seeds from a small network of specialty seed farmers and grow many
          of the varieties we offer right here on the farm. Our shop features my very
          favorite cut flower seeds, as well as tools, supplies, and signed Floret
          books.
        </p>
      
        <div class="row">
          <div class="col row">
            <div class="col">some image</div>
            <div class="col">some image</div>
          </div>
          <div class="col">some image</div>
        </div>
      
        <div>
          <p>
            Much of my childhood was spent at my great-grandparents’ country home, and
            from an early age, under their influence, I felt a deep sense of
            connection to nature. From then on I dreamed of living in the country,
            where we’d grow our own vegetables, raise chickens, and plant a small
            orchard. So in 2001, my family and I left the hustle of city life in
            Seattle and moved to a small farm in Washington’s Skagit Valley to pursue
            a slower, simpler, more intentional lifestyle that would help us connect
            with nature every day. Shortly after we arrived, a generous neighbor
            brought over his tractor to till a plot of ground so I could finally have
            the garden of my dreams.
          </p>
          <p>
            Much of my childhood was spent at my great-grandparents’ country home, and
            from an early age, under their influence, I felt a deep sense of
            connection to nature. From then on I dreamed of living in the country,
            where we’d grow our own vegetables, raise chickens, and plant a small
            orchard. So in 2001, my family and I left the hustle of city life in
            Seattle and moved to a small farm in Washington’s Skagit Valley to pursue
            a slower, simpler, more intentional lifestyle that would help us connect
            with nature every day. Shortly after we arrived, a generous neighbor
            brought over his tractor to till a plot of ground so I could finally have
            the garden of my dreams.
          </p>
          <p>
            Much of my childhood was spent at my great-grandparents’ country home, and
            from an early age, under their influence, I felt a deep sense of
            connection to nature. From then on I dreamed of living in the country,
            where we’d grow our own vegetables, raise chickens, and plant a small
            orchard. So in 2001, my family and I left the hustle of city life in
            Seattle and moved to a small farm in Washington’s Skagit Valley to pursue
            a slower, simpler, more intentional lifestyle that would help us connect
            with nature every day. Shortly after we arrived, a generous neighbor
            brought over his tractor to till a plot of ground so I could finally have
            the garden of my dreams.
          </p>
        </div>
      
        <div class="row">
          <div class="col">some image</div>
          <div class="col row">
              <div class="col">some image</div>
              <div class="col">some image</div>
          </div>
        </div>
      </section>
</main>



<%- include('partials/footer') %>
