<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <!-- site metas -->
    <title>Home</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="assets/css2/bootstrap.min.css" />

    <!-- style css -->
    <link rel="stylesheet" href="assets/css2/style.css" />
    <!-- Responsive-->
    <link rel="stylesheet" href="assets/css2/responsive.css" />
    <!-- fevicon -->
    <link rel="icon" href="assets/images/fevicon.png" type="image/gif" />
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="assets/css2/owl.carousel.min.css" />
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
    <link rel="stylesheet" href="assets/css2/bootstrap-datepicker.min.css" />
    <style>
      /* Style for dropdown button */
      .dropbtn {
        background-color: black;
        color: white;
        font-size: 15px;
        padding: auto;
        border: none;
        cursor: pointer;
      }

      /* Style for dropdown content */
      .dropdown-content {
        display: none; /* Hidden by default */
        position: absolute;
        background-color: #ffffff;
        min-width: 85px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }

      /* Style for each content div */
      .dropdown-content div {
        padding: 0px 5px;
        width: 200px;
        color: black;
      }

      /* Highlight dropdown options on hover */
      .dropdown-content div:hover {
        background-color: #eaeaea;
      }

      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }

      /* Highlight dropdown button when dropdown menu is open */
      .dropdown:hover .dropbtn {
        color: orangered;
      }
      .logoo {
        width: 60px;
        height: 60px;
      }
      .d_flex {
        background-color: black;
        color: white;
      }
      .site-navbar ul li a {
        color: white;
      }
      .site-navbar ul li a:hover {
        color: orangered;
      }
      a .list-item .linkss #linkss{
        color: black;
      }
    </style>
  </head>
  <!-- body -->
  <body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
      <div class="loader"><img src="assets/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <div class="full_bg">
      <!-- header -->
      <!-- <header class="header-area">
        <div class="container-fluid">
          <div class="row d_flex">
            <div class="col-md-2 col-sm-3">
              <div class="logoo">
                <a href="/" class="logo me-auto me-lg-0"
                  ><img
                    src="/assets/img/citruMilk-logo.jpg"
                    alt=""
                    class="img-fluid"
                /></a>
              </div>
            </div>
            <div class="col-md-8 col-sm-9">
              <div class="navbar-area">
                <nav class="site-navbar">
                  <ul>
                    <li><a class="list-item linkss" href="/">Home</a></li>
                    <li><a href="/about-us">About Us</a></li>
                    <li>
                      <span class="dropdown">
                        <button class="dropbtn" href="/farm">Ndoma Farm</button>
                        <div class="dropdown-content">
                          <div onclick="location.href='/contact-us';">About Ndoma Farms</div>
                          <div onclick="location.href='/contact-us';">Fish</div>
                          <div onclick="location.href='/contact-us';">Rabbit -> Processed</div>
                          <div onclick="location.href='/contact-us';">Snail -> Processed</div>
                          <div onclick="location.href='/contact-us';">Grasscuter</div>
                        </div>
                      </span>
                    </li>
                    <li>
                      <span class="dropdown">
                        <button class="dropbtn">Shop Now</button>
                        <div class="dropdown-content">
                          <div onclick="location.href='/contact-us';">Mushroom</div>
                          <div onclick="location.href='/contact-us';">Citrumilk Products</div>
                          <div onclick="location.href='/contact-us';">Dry Fish</div>
                          <div onclick="location.href='/contact-us';">Sugar</div>
                          <div onclick="location.href='/contact-us';">Soyabean Powder</div>
                          <div onclick="location.href='/contact-us';">Mushroom Substrate</div>
                        </div>
                      </span>
                    </li>
                    <li>
                      <span class="dropdown">
                        <button class="dropbtn">Contact</button>
                        <div class="dropdown-content">
                          <div onclick="location.href='/contact-us';">Inquiry</div>
                          <div onclick="location.href='/contact-us';">Become a distributor</div>
                  
                        </div>
                      </span>
                    </li>
                  </ul>
                  <button class="nav-toggler">
                    <span></span>
                  </button>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header> -->
      <!-- end header inner -->
      <!-- top -->
      <div class="slider_main">
        <!-- carousel code -->
        <div
          id="banner1"
          class="carousel slide carousel-fade"
          data-ride="carousel"
          data-interval="6000"
        >
          <ol class="carousel-indicators">
            <li data-target="#banner1" data-slide-to="0" class="active"></li>
            <li data-target="#banner1" data-slide-to="1"></li>
            <li data-target="#banner1" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <picture>
                <source srcset="assets/images/banner.jpg" />

                <img
                  srcset="assets/images/banner.jpg"
                  alt="responsive image"
                  class="d-block img-fluid"
                />
              </picture>
              <div class="carousel-caption relative"></div>
            </div>
            <!-- /.carousel-item -->
            <div class="carousel-item">
              <picture>
                <img
                  srcset="assets/images/banner.jpg"
                  alt="responsive image"
                  class="d-block img-fluid"
                />
              </picture>
              <div class="carousel-caption relative"></div>
            </div>
            <!-- /.carousel-item -->
            <div class="carousel-item">
              <picture>
                <source srcset="assets/images/banner.jpg" />
                <source srcset="assets/images/banner.jpg" />
                <source srcset="assets/images/banner.jpg" />
                <img
                  srcset="assets/images/banner.jpg"
                  alt="responsive image"
                  class="d-block img-fluid"
                />
              </picture>
              <div class="carousel-caption relative"></div>
            </div>
            <!-- /.carousel-item -->
          </div>
          <!-- /.carousel-inner -->
          
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="willom">
                <h1>Agriculture Fram</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end banner -->
    <!-- about -->
    <div class="about">
      <div class="container-fluid">
        <div class="row d_flex">
          <div class="col-lg-6 col-md-12">
            <div class="titlepage text_align_left">
              <span>About Us</span>
              <h2>AGRICULTURE MARKET</h2>
              <p>
                fact that a reader will be distracted by the readable content of
                a page when looking at its layout. The point of using Lorem
                Ipsum is that itfact that a reader will be distracted by the
                readable content of a page when looking at its layout. The point
                of using Lorem Ipsum is that itfact th
              </p>
              <a class="read_more" href="about.html">Learn More</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="row d_flex">
              <div class="col-md-7">
                <div class="about_img">
                  <figure>
                    <img src="assets/images/about_img.jpg" alt="#" />
                  </figure>
                </div>
              </div>
              <div class="col-md-5">
                <div class="about_img">
                  <figure>
                    <img src="assets/images/about_img1.jpg" alt="#" />
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end about -->
    <!-- services -->
    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage text_align_left">
              <span>What We Do</span>
              <h2>SERVICES WE OFFER</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="services_box_main">
              <div class="services_box text_align_left">
                <figure>
                  <img src="assets/images/service1.jpg" alt="#" />
                </figure>
                <div class="veget">
                  <h3>FRESH<br />VEGETABLES</h3>
                  <p>
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip
                  </p>
                </div>
              </div>
              <a class="read_more" href="services.html">Read More</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="services_box_main">
              <div class="services_box text_align_left">
                <figure>
                  <img src="assets/images/service2.jpg" alt="#" />
                </figure>
                <div class="veget">
                  <h3>AGRICULTURE<br />PRODUCTS</h3>
                  <p>
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip
                  </p>
                </div>
              </div>
              <a class="read_more" href="services.html">Read More</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="services_box_main">
              <div class="services_box text_align_left">
                <figure>
                  <img src="assets/images/service3.jpg" alt="#" />
                </figure>
                <div class="veget">
                  <h3>ORGANIC<br />PRODUCTS</h3>
                  <p>
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip
                  </p>
                </div>
              </div>
              <a class="read_more" href="services.html">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end services -->
    <!-- customers -->
    <div class="customers">
      <div class="clients_bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="titlepage text_align_left">
                <span>Our Customers</span>
                <h2>TESTIMONAILS</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- start slider section -->
      <div
        id="myCarousel"
        class="carousel slide clients_banner"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="carousel-caption relative">
                <div class="row d_flex">
                  <div class="col-md-6">
                    <div class="custom">
                      <div class="d_flex">
                        <i><img src="assets/images/customer1.jpg" alt="#" /></i>
                        <div class="clint">
                          <h4>Dan Balan</h4>
                          <span>Client</span>
                        </div>
                      </div>
                      <p>
                        readable English. Many desktop publishing packages and
                        web page editors now use Lorem Ipsum as their default
                        model text, and a search for 'lorem ipsum' will uncover
                        many web sites still in their
                      </p>
                      <img src="assets/images/test.png" alt="#" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="custom">
                      <div class="d_flex">
                        <i><img src="assets/images/customer2.jpg" alt="#" /></i>
                        <div class="clint">
                          <h4>Mor Balan</h4>
                          <span>Client</span>
                        </div>
                      </div>
                      <p>
                        readable English. Many desktop publishing packages and
                        web page editors now use Lorem Ipsum as their default
                        model text, and a search for 'lorem ipsum' will uncover
                        many web sites still in their
                      </p>
                      <img src="assets/images/test.png" alt="#" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption relative">
                <div class="row d_flex">
                  <div class="col-md-6">
                    <div class="custom">
                      <div class="d_flex">
                        <i><img src="assets/images/customer1.jpg" alt="#" /></i>
                        <div class="clint">
                          <h4>Dan Balan</h4>
                          <span>Client</span>
                        </div>
                      </div>
                      <p>
                        readable English. Many desktop publishing packages and
                        web page editors now use Lorem Ipsum as their default
                        model text, and a search for 'lorem ipsum' will uncover
                        many web sites still in their
                      </p>
                      <img src="assets/images/test.png" alt="#" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="custom">
                      <div class="d_flex">
                        <i><img src="assets/images/customer2.jpg" alt="#" /></i>
                        <div class="clint">
                          <h4>Mor Balan</h4>
                          <span>Client</span>
                        </div>
                      </div>
                      <p>
                        readable English. Many desktop publishing packages and
                        web page editors now use Lorem Ipsum as their default
                        model text, and a search for 'lorem ipsum' will uncover
                        many web sites still in their
                      </p>
                      <img src="assets/images/test.png" alt="#" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption relative">
                <div class="row d_flex">
                  <div class="col-md-6">
                    <div class="custom">
                      <div class="d_flex">
                        <i><img src="assets/images/customer1.jpg" alt="#" /></i>
                        <div class="clint">
                          <h4>Dan Balan</h4>
                          <span>Client</span>
                        </div>
                      </div>
                      <p>
                        readable English. Many desktop publishing packages and
                        web page editors now use Lorem Ipsum as their default
                        model text, and a search for 'lorem ipsum' will uncover
                        many web sites still in their
                      </p>
                      <img src="assets/images/test.png" alt="#" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="custom">
                      <div class="d_flex">
                        <i><img src="assets/images/customer2.jpg" alt="#" /></i>
                        <div class="clint">
                          <h4>Mor Balan</h4>
                          <span>Client</span>
                        </div>
                      </div>
                      <p>
                        readable English. Many desktop publishing packages and
                        web page editors now use Lorem Ipsum as their default
                        model text, and a search for 'lorem ipsum' will uncover
                        many web sites still in their
                      </p>
                      <img src="assets/images/test.png" alt="#" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#myCarousel"
          role="button"
          data-slide="prev"
        >
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#myCarousel"
          role="button"
          data-slide="next"
        >
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- end customers -->
    <!-- choose -->
    <div class="choose">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage text_align_center">
              <h2>Whay choose us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="point text_align_center">
              <h3>300+</h3>
              <span>Regula <br />Customers</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="point text_align_center">
              <h3>30+</h3>
              <span>Professional <br />Engineering</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="point text_align_center">
              <h3>300+</h3>
              <span>Points of Sale <br />Goods</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="point text_align_center">
              <h3>30+</h3>
              <span>Awards <br />Won</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- choose -->
    <!-- news -->
    <div class="news">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage text_align_left">
              <span>Our</span>
              <h2>Latest News</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="latest">
              <figure><img src="assets/images/news1.jpg" alt="#" /></figure>
              <span
                >15<br />
                March</span
              >
              <div class="nostrud">
                <h3>Alteration in somer</h3>
                <p>
                  has a more-or-less normal distribution of letters, as opposed
                  to using 'Content here, content here', making iteditors
                </p>
                <a class="read_more" href="news.html">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="latest box_desho">
              <figure><img src="assets/images/news2.jpg" alt="#" /></figure>
              <span
                >15<br />
                March</span
              >
              <div class="nostrud">
                <h3>Alteration in somer</h3>
                <p>
                  has a more-or-less normal distribution of letters, as opposed
                  to using 'Content here, content here', making iteditors
                </p>
                <a class="read_more" href="news.html">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="latest">
              <figure><img src="assets/images/news3.jpg" alt="#" /></figure>
              <span
                >15<br />
                March</span
              >
              <div class="nostrud">
                <h3>Alteration in somer</h3>
                <p>
                  has a more-or-less normal distribution of letters, as opposed
                  to using 'Content here, content here', making iteditors
                </p>
                <a class="read_more" href="news.html">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end news -->

    <!-- Javascript files-->
    <script src="assets/js2/jquery.min.js"></script>
    <script src="assets/js2/bootstrap.bundle.min.js"></script>
    <script src="assets/js2/jquery-3.0.0.min.js"></script>
    <script src="assets/js2/owl.carousel.min.js"></script>
    <script src="assets/js2/bootstrap-datepicker.min.js"></script>
    <script src="assets/js2/custom.js"></script>
  </body>
</html>
<%- include('partials/footer') %>
