<%- include('partials/header') %>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <div
      class="row justify-content-center"
      data-aos="fade-up"
      data-aos-delay="150"
    >
      <div class="col-xl-6 col-lg-8">
        <h1>Tasty and Healthy<span>.</span></h1>
        <h2></h2>
      </div>
    </div>

    <div
      class="row gy-4 mt-5 justify-content-center"
      data-aos="zoom-in"
      data-aos-delay="250"
    ></div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <!-- <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">        
        <div
          class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <h3>The ABACUS Foods' Story</h3>
          <p>
            On the continent of Africa, across countries, cultures and
            traditions, there has always been a common belief that food is
            medicine!. At ABACUS Foods, we are committed to preserving and
            celebrating our rich culinary and wellness heritage. We use 100%
            natural ingredients grown by farmers in rich, fertile soil,
            seasonally, hand-harvested and sun-dried. Our dedicated team cleans,
            blends and packs the spices and seasoning with care. From the farm
            to your plate, we improve the nutrition, taste and lives of everyone
            who grows, blends and enjoys the ABACUS experience.
          </p>
          <p>
            Nduoma Farms is a subsidiary of Citrumilk Foods Limited,
            specialising in the production of edible and medicinal mushroom,food
            spices, rabbit,snail and fish.
          </p>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End About Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="text-center">
        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
          <div class="col-xl-3 col-md-4">
            <div class="icon-box">
              <i style="font-size: 45px;" class="ri-store-line"></i>
              <h3><a href="">QUALITY PRODUCTS</a></h3>
              <p>World-class products that are of the highest quality standards, which are attractive, tasty and Healthy.</p>
            </div>
          </div>
          <div class="col-xl-3 col-md-4">
            <div class="icon-box">
              <i style="font-size: 45px;" class="ri-bar-chart-box-line"></i>
              <h3><a href="">VARIETY</a></h3>
              <P>Citrumilk products come in various forms, such as juices, smoothies, and milk alternatives, providing options for different preferences.</P>
            </div>
          </div>
          <div class="col-xl-3 col-md-4">
            <div class="icon-box">
              <i style="font-size: 45px;" class="ri-calendar-todo-line"></i>
              <h3><a href="">NUTRIENT RICH</a></h3>
              <P>Citrumilk products are fortified with essential nutrients such as calcium, vitamin D, and vitamin B12, providing nutritional values.</P>
            </div>
          </div>
          <div class="col-xl-3 col-md-4">
            <div class="icon-box">
              <i style="font-size: 45px;" class="ri-paint-brush-line"></i>
              <h3><a href="">CHOLESTEROL FREE</a></h3>
              <P>Citrumilk  products contains no cholesterol, which is a plus for those aiming to manage their cholesterol levels.</P>
            </div>
          </div>
          <!-- <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i style="width: 2em; height: 6em;" class="ri-database-2-line"></i>
              <h3><a href="">Nemos Enimade</a></h3>
            </div>
          </div> -->
        </div>

        <!-- <div class="row">
          <div
            class="col-lg-3 col-md-6 d-flex align-items-stretch"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <img
                src="/assets/img/Citrumilk-black.jpg"
                class=" back-trans-img"
                alt=""
              />
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <img
                src="/assets/img/Soya-milk-black.jpg"
                class=" back-trans-img"
                alt=""
              />
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <img
                src="/assets/img/Mira sugar-black.jpg"
                class=" back-trans-img"
                alt=""
              />
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <img
              src="/assets/img/Citrumilk Orange juice-black.jpg"
              class=" back-trans-img"
              alt=""
            />
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- End Cta Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <h3>About Us</h3>
          <p>
            Citrumilk is a food processing company registered in Federal
            Republic of Nigeria under companies and Allied matter Act 2004.
            Citrumilk is a food processing company that produces a variety of
            delicious food items such as Flavoured milk, yogurt, chocolate
            drinks, milkshakes , sugar and soya milk. Citrumilk has a subsidiary
            company NDUOMA FARMS LTD that produces Mushroom, Spices,Fish ,
            Rabbit and Snail.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
          <div
            class="icon-box mt-5 mt-lg-0"
            data-aos="zoom-in"
            data-aos-delay="150"
          >
            <i class="bx bx-receipt"></i>
            <h4>Our Mission</h4>
            <p>
              At citrumilk,our mission is to provide high-quality milk products
              and spices to our customers while promoting sustainable and
              ethical practices in the food processing industry.
            </p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-cube-alt"></i>
            <h4>Our Vision</h4>
            <p>
              Our vision at Citrumilk is to become a leading brand in the food
              processing industry, know for our commitment to quality,
              Sustainability,and innovation.We aim to expand our product line
              and reach new markets while maintaining our focus on providing the
              best possible products and customer service.
            </p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-images"></i>
            <h4>Our Values</h4>
            <p>
              At our farm, we take immense pride in cultivating and delivering
              farm-fresh products that are a testament to the bounties of
              nature. Our commitment to quality, sustainability, and nutritional
              excellence ensures that each product that leaves our farm carries
              the essence of purity and health. From field to table, our produce
              undergoes careful nurturing, adhering to the highest standards,
              and bringing the goodness of the land to your home.
            </p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-shield"></i>
            <h4>Our Motto</h4>
            <p>Healthy and Tasty</p>
          </div>
        </div>
        <div
          class="image col-lg-6"
          style="background-image: url('assets/img/farm-activity.jpg')"
          data-aos="fade-right"
        ></div>
      </div>
    </div>
  </section>
  <!-- End Features Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">
      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide">
            <img src="/assets/img/slide-one.png" class=" swipe-trans-img" alt="" />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/img/slide-two-citrumilk_yogurt-removebg-preview.png"
              class=" swipe-trans-img"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/img/slide-three-Dried-fish-1-removebg-preview.png"
              class=" swipe-trans-img"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/img/slide-four-Screenshot_20230804-014223-removebg-preview.png"
              class=" swipe-trans-img"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/img/slide-five-s-l1600-removebg-preview.png"
              class=" swipe-trans-img"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/img/slide-six-soya_milk_bottle_with_citrumilk_as_label__1_-removebg-preview.png"
              class=" swipe-trans-img"
              alt=""
            />
          </div>
          <!-- <div class="swiper-slide">
            <img
              src="/assets/img/citruMilk-logo.jpg"
              class=" swipe-trans-img"
              alt=""
            />
          </div> -->
          <!-- <div class="swiper-slide">
            <img
              src="/assets/img/clients/client-5.png"
              class=" swipe-trans-img"
              alt=""
            />
          </div> -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Clients Section -->
</main>
<!-- End #main -->

<%- include('partials/footer') %>
