<%- include('partials/header') %>

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Products</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Mushroom</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <p>Mushroom Tea & Oyster tea</p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img
                src="https://i.ibb.co/8rMd78Z/r-KYWd9p-VAz-800x1000.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <button type="button" class="btn btn-secondary add-to-cart-btn" href="">Add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4>White Fish</h4>
              <h4>$200</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img
                src="https://i.ibb.co/ZGrSzF9/1410-gabes-mushrooms-07.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <button type="button" class="btn btn-secondary add-to-cart-btn" href="">Add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4>White Fish</h4>
              <h4>$200</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img
                src="https://i.ibb.co/ZcYgSxt/71igju-A07-FL-AC-UF1000-1000-QL80.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <button type="button" class="btn btn-secondary add-to-cart-btn" href="">Add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4>White Fish</h4>
              <h4>$200</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img
                src="https://i.ibb.co/FV8dxK5/slide-five-s-l1600-removebg-preview.png"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <button type="button" class="btn btn-secondary add-to-cart-btn" href="">Add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4>White Fish</h4>
              <h4>$200</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img
                src="https://i.ibb.co/Sxsx8cx/DCKZ0hgb-R6-390x488.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <button type="button" class="btn btn-secondary add-to-cart-btn" href="">Add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4>White Fish</h4>
              <h4>$200</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img
                src="https://i.ibb.co/dmQ4JdT/Fz-Y63-Bcv-Dd-800x1000.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <button type="button" class="btn btn-secondary add-to-cart-btn" href="">Add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4>White Fish</h4>
              <h4>$200</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img
                src="assets/img/mae-mu-ru4jyDiLHsI-unsplash.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <button type="button" class="btn btn-secondary add-to-cart-btn" href="">Add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4>White Fish</h4>
              <h4>$200</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img
                src="assets/img/mae-mu-ru4jyDiLHsI-unsplash.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <button type="button" class="btn btn-secondary add-to-cart-btn" href="">Add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4>White Fish</h4>
              <h4>$200</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img
                src="assets/img/chuttersnap-z0iMCyHwEo4-unsplash.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <button type="button" class="btn btn-secondary add-to-cart-btn" href="">Add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4>White Fish</h4>
              <h4>$200</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img
                src="assets/img/chuttersnap-z0iMCyHwEo4-unsplash.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <button type="button" class="btn btn-secondary add-to-cart-btn" href="">Add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4>White Fish</h4>
              <h4>$200</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img
                src="assets/img/chuttersnap-z0iMCyHwEo4-unsplash.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <button type="button" class="btn btn-secondary add-to-cart-btn" href="">Add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4>White Fish</h4>
              <h4>$200</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img
                src="assets/img/chuttersnap-z0iMCyHwEo4-unsplash.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <button type="button" class="btn btn-secondary add-to-cart-btn" href="">Add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4>White Fish</h4>
              <h4>$200</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->
</main>
<!-- End #main -->

<%- include('partials/footer') %>
