.containerr {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 100px;
  justify-content: center;
}

#root {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.sidebar {
  width: 40%;
  height: 40%;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  padding: 15px;
  text-align: center;
}
.head {
  background-color: goldenrod;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: solid #333;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid goldenrod;
  border-radius: 5px;
  padding: 15px;
}
.img-box {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  object-position: center;
}

.bottom {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

button {
  width: 100%;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: goldenrod;
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}
button:hover {
  background-color: #333;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  border-bottom: 1px solid #aaa;
  margin: 10px 10px;
}

.row-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowimg {
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
}
.bi-trash:hover {
  cursor: pointer;
  color: #333;
}

.col-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-cart-row {
  margin-bottom: 5px;
}

.cart-img {
  width: 50px;
  height: 50px;
}
.cart-item-container {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}
.offcan-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.cart-count {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.btn-change {
  width: 40px;
  background-color: #797070;
  border: 1px solid black;
}

.btn-incr {
  margin-left: 8px;
}
.btn-decr {
  margin-right: 8px;
}
.clients .swiper-slide img {
  opacity: 1;
  /* filter: grayscale(0); */
  filter: contrast(1.0);
}

.back-trans-img {
  height: 16em;
  width: 18em;
}
.swipe-trans-img {
    height: 10em;
    width: 10em;
  }
.img-fluid {
  height: 12em;
  width: 16em;
}

.add-to-cart-btn {
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.service-img {
  width: 100%;
  height: 15em;
}

@media (max-width: 767px) {
  .content-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ri-store-line{
  width: 60px;
  height: 6em;
  font-size: 40px;
}

.farm-desc-imgs {
  width: 100%;
}